packages: 
  yum:
    python27-numpy: []
    python27-scipy: []
    python27-matplotlib: []
    mailx: []
    sendmail: []
    sendmail-cf: []
    m4: []
    cyrus-sasl-plain: []
container_commands:
  00pipupgrade:
    command: pip install --upgrade pip
  01pipinstall:
    command: pip install http://peak.telecommunity.com/snapshots/BytecodeAssembler-0.6-r2646.tar.gz
  02pipinstall:
    command: pip install http://peak.telecommunity.com/snapshots/PEAK-Rules-0.5a1.dev-r2713.tar.gz
  03pipinstall:
    command: pip install https://pypi.python.org/packages/source/S/SQLObject/SQLObject-3.0.0a1dev-20150327.tar.gz
  04pipinstall:
    command: pip install 'TurboGears==1.5.1'
  05pipinstall:
    command: pip install http://edwardslab.bmcb.georgetown.edu/software/downloads/PepArML-Install/registration-0.4-local.tar.gz
  09s3get:
    command: /opt/python/ondeck/app/s3get.sh
  20s3sync:
    command: /opt/python/ondeck/app/sync.sh
  10initdb:
    command: cd /opt/python/ondeck/app; /opt/python/run/venv/bin/python initdb.py
  11rmlog:
    command: rm -f /opt/python/ondeck/app/server.log
  12perms:
    command: chown wsgi:wsgi /opt/python/ondeck/app/devdata.sqlite; chmod u+w /opt/python/ondeck/app/devdata.sqlite
  30sessmtp:
    command: /opt/python/ondeck/app/smtpsetup.sh
option_settings:
  "aws:elasticbeanstalk:command":
    Timeout: 3600
  "aws:elasticbeanstalk:application:environment":
    PYTHONPATH: "/opt/python/current/app/rmidb2:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "application.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "rmidb2/static/"
